<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Qsp.DemooA"/>
      <class name="Qsp.DemoA2"/>
      <class name="Qsp.DemoA"/>
      <class name="Qsp.demoB"/>
      <class name="Qsp.DemA"/>
      <class name="Qsp.DeemaA"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
